body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: 'Inter', sans-serif;
    color: #000;
}

/* центрирование сайта */
.container {
    max-width: 500px;
    margin: 40px auto;
    text-align: center;
    padding: 20px;
}

/* аватар */
.avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

/* имя */
.name {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 10px;
}

/* описание */
.title {
    font-size: 16px;
    font-weight: 400;
    color: #555;
    line-height: 1.5;
    margin-bottom: 40px;
}

/* контейнер кнопок */
.buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* общая стилистика кнопок */
.btn {
    padding: 14px 20px;
    border-radius: 12px;
    text-decoration: none;
    display: block;
    font-weight: 600;
    transition: 0.25s;
}

/* подпись под кнопкой */
.desc {
    display: block;
    font-size: 12px;
    margin-top: 3px;
    opacity: 0.7;
}

/* фиолетовая */
.btn-filled {
    background: #2b4afa;
    color: white;
}

.btn-filled:hover {
    transform: translateY(-4px);
}

/* outline-кнопка */
.btn-outline {
    border: 2px solid #2900f8;
    color: #2b00ff;
    background: white;
}

.btn-outline:hover {
    transform: translateY(-4px);
}

/* мягкая фиолетовая */
.btn-soft {
    background: #ECE8FF;
    color: #2900f8;
}

.btn-soft:hover {
    transform: translateY(-4px);
}